
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #F5004F;
    padding: 10px;
}

h1 {
    color: #f9e400;
    margin: 0;
    font-size: 50px;
}

.back-arrow {
    width: 50px;
}

.operations {
    margin: 3px;
    padding: 3px;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
}

.pushbutton-operations {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.pushbutton-operations > * {
    background-color: #F5004F;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.menu-operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info settings" ". edit";
}

.menu-operations > * {
    background-color: #F5004F;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.song {
    font-size: 1rem;
    margin: 20px;
}

.chord {
    color: #F5004F;
    font-weight: bolder;
}

div.button:active {

    background-color: brown;
}